<aside id='left-panel' class='left-panel'>
       <nav class='navbar navbar-expand-sm navbar-default'>
              <div id='main-menu' class='main-menu collapse navbar-collapse'>
                     <ul class='nav navbar-nav'>
                            <li class='active'>
                                   <a href='/admin/dashboard'><i class='menu-icon fa fa-pie-chart'></i>Dashboard
                                   </a>
                            </li>

                            <li class=''>
                                   <a href='/admin/banners'>
                                          <i class='menu-icon fa fa-image'></i>Banners</a>
                            </li>

                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-th'></i>Categories</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='fa fa-th mr-2'></i><a href='/admin/categories/all'>All
                                                        categories</a>
                                          </li>
                                          <li>
                                                 <i class='fa fa-trash mr-2'></i><a
                                                        href='/admin/categories/deleted'>Deleted categories</a>
                                          </li>

                                   </ul>
                            </li>

                            <!-- /.menu-title -->

                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-shopping-bag '></i>Products</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='fa fa-shopping-bag mr-2'></i><a href='/admin/products/all'>All
                                                        Products</a>
                                          </li>
                                          <li>
                                                 <i class='fa fa-plus mr-2'></i><a href='/admin/add-product'>Add
                                                        product</a>
                                          </li>
                                          <li>
                                                 <i class='fa fa-trash mr-2'></i><a
                                                        href='/admin/deletedProducts'>Deleted products</a>
                                          </li>
                                   </ul>
                            </li>
                            <li class=''>
                                   <a href='/admin/coupons'>
                                          <i class='menu-icon fa fa-tag'></i>Coupons</a>
                            </li>
                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-users'></i>Users</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='fa fa-users mr-2'></i><a href='/admin/users/all'>All
                                                        users</a>
                                          </li>
                                          <li>
                                                 <i class='fa fa-ban mr-2'></i><a href='/admin/users/blocked'>Blocked
                                                        users</a>
                                          </li>

                                   </ul>
                            </li>
                            <li class=''>
                                   <a href='/admin/orders'>
                                          <i class='menu-icon fa fa-list-alt'></i>Orders</a>
                            </li>

                            {{!-- <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-th'></i>Forms</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='menu-icon fa fa-th'></i><a href='forms-basic.html'>Basic
                                                        Form</a>
                                          </li>
                                          <li>
                                                 <i class='menu-icon fa fa-th'></i><a
                                                        href='forms-advanced.html'>Advanced Form</a>
                                          </li>
                                   </ul>
                            </li>


                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-tasks'></i>Icons</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='menu-icon fa fa-fort-awesome'></i><a
                                                        href='font-fontawesome.html'>Font Awesome</a>
                                          </li>
                                          <li>
                                                 <i class='menu-icon ti-themify-logo'></i><a
                                                        href='font-themify.html'>Themefy Icons</a>
                                          </li>
                                   </ul>
                            </li>
                            <li>
                                   <a href='widgets.html'>
                                          <i class='menu-icon ti-email'></i>Widgets
                                   </a>
                            </li>
                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-bar-chart'></i>Charts</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='menu-icon fa fa-line-chart'></i><a
                                                        href='charts-chartjs.html'>Chart JS</a>
                                          </li>
                                          <li>
                                                 <i class='menu-icon fa fa-area-chart'></i><a
                                                        href='charts-flot.html'>Flot Chart</a>
                                          </li>
                                          <li>
                                                 <i class='menu-icon fa fa-pie-chart'></i><a
                                                        href='charts-peity.html'>Peity Chart</a>
                                          </li>
                                   </ul>
                            </li>

                            <li class='menu-item-has-children dropdown'>
                                   <a href='#' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true'
                                          aria-expanded='false'>
                                          <i class='menu-icon fa fa-area-chart'></i>Maps</a>
                                   <ul class='sub-menu children dropdown-menu'>
                                          <li>
                                                 <i class='menu-icon fa fa-map-o'></i><a href='maps-gmap.html'>Google
                                                        Maps</a>
                                          </li>
                                          <li>
                                                 <i class='menu-icon fa fa-street-view'></i><a
                                                        href='maps-vector.html'>Vector Maps</a>
                                          </li>
                                   </ul>
                            </li> --}}

                     </ul>
              </div>
              <!-- /.navbar-collapse -->
       </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id='right-panel' class='right-panel'>
       <!-- Header-->
       <header id='header' class='header'>
              <div class='top-left'>
                     <div class='navbar-header'>
                            <a class='navbar-brand font-weight-bold' href='./'>
                                   FASHION STUDIO</a>
                            <a id='menuToggle' class='menutoggle'><i class='fa fa-bars'></i></a>
                     </div>
              </div>
              <div class='top-right'>
                     <div class='header-menu'>
                            <div class='header-left'>
                                   <button class='search-trigger'>
                                          <i class='fa fa-search'></i>
                                   </button>
                                   <div class='form-inline'>
                                          <form class='search-form'>
                                                 <input class='form-control mr-sm-2' type='text'
                                                        placeholder='Search ...' aria-label='Search' />
                                                 <button class='search-close' type='submit'>
                                                        <i class='fa fa-close'></i>
                                                 </button>
                                          </form>
                                   </div>

                                   <div class='dropdown for-notification'>
                                          <button class='btn btn-secondary dropdown-toggle' type='button'
                                                 id='notification' data-toggle='dropdown' aria-haspopup='true'
                                                 aria-expanded='false'>
                                                 <i class='fa fa-bell'></i>
                                                 <span class='count bg-danger'>3</span>
                                          </button>
                                          <div class='dropdown-menu' aria-labelledby='notification'>
                                                 <p class='red'>
                                                        You have 3 Notification
                                                 </p>
                                                 <a class='dropdown-item media' href='#'>
                                                        <i class='fa fa-check'></i>
                                                        <p>
                                                               Server #1
                                                               overloaded.
                                                        </p>
                                                 </a>
                                                 <a class='dropdown-item media' href='#'>
                                                        <i class='fa fa-info'></i>
                                                        <p>
                                                               Server #2
                                                               overloaded.
                                                        </p>
                                                 </a>
                                                 <a class='dropdown-item media' href='#'>
                                                        <i class='fa fa-warning'></i>
                                                        <p>
                                                               Server #3
                                                               overloaded.
                                                        </p>
                                                 </a>
                                          </div>
                                   </div>

                                   <div class='dropdown for-message'>
                                          <button class='btn btn-secondary dropdown-toggle' type='button' id='message'
                                                 data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                                 <i class='fa fa-envelope'></i>
                                                 <span class='count bg-primary'>4</span>
                                          </button>
                                          <div class='dropdown-menu' aria-labelledby='message'>
                                                 <p class='red'>
                                                        You have 4 Mails
                                                 </p>
                                                 <a class='dropdown-item media' href='#'>
                                                        <span class='photo media-left'><img alt='avatar'
                                                                      src='/admin/images/avatar/1.jpg' /></span>
                                                        <div class='message media-body'>
                                                               <span class='name float-left'>Jonathan Smith</span>
                                                               <span class='time float-right'>Just now</span>
                                                               <p>
                                                                      Hello,
                                                                      this is an
                                                                      example
                                                                      msg
                                                               </p>
                                                        </div>
                                                 </a>
                                                 <a class='dropdown-item media' href='#'>
                                                        <span class='photo media-left'><img alt='avatar'
                                                                      src='/admin/images/avatar/2.jpg' /></span>
                                                        <div class='message media-body'>
                                                               <span class='name float-left'>Jack Sanders</span>
                                                               <span class='time float-right'>5 minutes ago</span>
                                                               <p>
                                                                      Lorem
                                                                      ipsum
                                                                      dolor sit
                                                                      amet,
                                                                      consectetur
                                                               </p>
                                                        </div>
                                                 </a>
                                                 <a class='dropdown-item media' href='#'>
                                                        <span class='photo media-left'><img alt='avatar'
                                                                      src='/admin/images/avatar/3.jpg' /></span>
                                                        <div class='message media-body'>
                                                               <span class='name float-left'>Cheryl Wheeler</span>
                                                               <span class='time float-right'>10 minutes ago</span>
                                                               <p>
                                                                      Hello,
                                                                      this is an
                                                                      example
                                                                      msg
                                                               </p>
                                                        </div>
                                                 </a>
                                                 <a class='dropdown-item media' href='#'>
                                                        <span class='photo media-left'><img alt='avatar'
                                                                      src='/admin/images/avatar/4.jpg' /></span>
                                                        <div class='message media-body'>
                                                               <span class='name float-left'>Rachel Santos</span>
                                                               <span class='time float-right'>15 minutes ago</span>
                                                               <p>
                                                                      Lorem
                                                                      ipsum
                                                                      dolor sit
                                                                      amet,
                                                                      consectetur
                                                               </p>
                                                        </div>
                                                 </a>
                                          </div>
                                   </div>
                            </div>

                            <div class='user-area dropdown float-right'>


                                   <a href='#' class='dropdown-toggle active' data-toggle='dropdown'
                                          aria-haspopup='true' aria-expanded='false'>
                                          <img class='user-avatar rounded-circle' src='/admin/images/admin.jpg'
                                                 alt='User Avatar' />
                                   </a>

                                   <div class='user-menu dropdown-menu'>
                                          <a class='nav-link font-weight-bold' href='#'><i
                                                        class='fa fa- user'></i>{{session.adminName}}</a>
                                          <hr class="mt-2">

                                          <a class='nav-link' href='#'><i class='fa fa- user'></i>My Profile</a>

                                          <a class='nav-link' href='#'><i class='fa fa- user'></i>Notifications
                                                 <span class='count'>13</span></a>

                                          <a class='nav-link' href='#'><i class='fa fa -cog'></i>Settings</a>

                                          <a class='nav-link' href='/admin/logout'><i
                                                        class='fa fa-power -off'></i>Logout</a>
                                   </div>
                            </div>
                     </div>
              </div>
       </header>
       <!-- /#header -->