<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

<style>
    .successMessage {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .checkmark {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        display: inline-block;
        margin: 0 auto;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card  w-100 text-center border-0">
                <div style="border-radius:200px; height:150px; width:200px; background: #F8FAF5; margin:0 auto;">
                    <i class="checkmark">✓</i>
                </div>
                <h1 class="successMessage">Order Placed</h1>
                <p>Thank you.Your order have been placed successfully<br /></p>
                <p>Order ID : {{orderId}}</p>
                <a href="/invoice/{{orderId}}" class="btn m-3 stext-101 cl0 bg-success bor1 hov-btn1 p-lr-15 trans-04"
                    data-abc="true">Invoice</a>
                <a href="/order/{{orderId}}" class="btn m-3 stext-101 cl0 bg-danger bor1 hov-btn1 p-lr-15 trans-04" data-abc="true">Order details</a>
                <a href="/" class="btn m-3 stext-101 cl0 bg1 bor1 hov-btn1 p-lr-15 trans-04" data-abc="true">Go home</a>
            </div>
        </div>
    </div>

</div>